<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>

<div id="centerdiv">

    <p>Sign In</p>

    <!-- <form id="newtesting" action="sendLogin()">  -->

        <label for="user">Username:</label>
        <br/>
        <input type="text" id="user" name="user" style="display:table-cell; width:100%" />

        <br/><br/>

        <label for="pass">Password :</label>
        <br/>
        <input type="password" id="pwd" name="pwd" style="display:table-cell; width:100%" />

        <br/><br/><br/>

        <button id="signin" style="width:100%" >Login</button>

        <br/>
        <label id="error" style="color: crimson;"></label>
        <br/>

        <label>New? </label> <a href="/register.html" >Sign Up For Now</a> <a href="/" >Go back</a>

    <!-- </form> -->

</div>


</body>
<script defer src="login.js" ></script>
</html>
